version: "3"

networks:
    laravel:

services:
    nginx:
        container_name: shawarma_jungle-nginx
        image: nginx:stable-alpine
        ports:
            - "6066:80"
        volumes:
            - ./:/var/www/html
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php
            - mysql
        networks:
            - laravel

    mysql:
        image: mysql:8
        container_name: shawarma_jungle-mysql
        restart: unless-stopped
        tty: true
        ports:
            - "4306:3306"
        volumes:
            - ./mysql:/var/lib/mysql
        environment:
            MYSQL_DATABASE: sharwama_jungle
            MYSQL_USER: root_user
            MYSQL_PASSWORD: password
            MYSQL_ROOT_PASSWORD: password
            SERVICE_TAGS: dev
            SERVICE_NAME: mysql
        networks:
            - laravel

    php:
        build: ./
        container_name: shawarma_jungle-php
        volumes:
            - ./:/var/www/html
        networks:
            - laravel

    mailhog:
        image: "mailhog/mailhog:latest"
        container_name: shawarma_jungle-mailhog
        ports:
            - "${FORWARD_MAILHOG_PORT:-1025}:1025"
            - "${FORWARD_MAILHOG_DASHBOARD_PORT:-8025}:8025"
        networks:
            - laravel
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: shawarma_jungle-pma
        links:
            - mysql
        environment:
            PMA_HOST: shawarma_jungle-mysql
            PMA_PORT: 3306
            PMA_ARBITRARY: 1
        restart: always
        ports:
            - 8081:80
        networks:
            - laravel
    ngrok:
        image: wernight/ngrok:latest
        container_name: shawarma_jungle-ngrok

        ports:
            - 4040:4040
        environment:
            NGROK_AUTH: ${NGROK_AUTH_KEY}
            NGROK_REGION: eu
            NGROK_PROTOCOL: http
            NGROK_PORT: shawarma_jungle-nginx:80
        networks:
            - laravel
